body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.userInput {
  background-color: rgb(252, 252, 252);
  white-space: pre-wrap;
  width: 90%;
}

span {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
}

.past {
  background-color: #8f8e8e;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-style: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  background-color: #06aed5;
  color: white;
  width: 35px;
  box-shadow: 0rem 0.2rem 0.4rem 0 rgba(109, 129, 139, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}
